* {
  text-align: center;
}

.image {
  float: left;
  position: relative;
}

p {
  position: absolute;
  bottom: 1px;
  right: 1px;
  margin-bottom: 0;
  padding: 0px 13px 4px 13px;

  background: radial-gradient(
    rgb(212, 199, 199) 50%,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0)
  );
}

.but {
  margin: 7px;
}

body {
  background-size: 20%;
}

#mainbox {
  margin: 20px 0px 20px 0px;
}

#right,
#buttonscard {
  min-height: 100%;
}

#right {
  display: inline;
}
.card {
  background: rgba(255, 255, 255, 0.932);
}

.but {
  background: linear-gradient(#ffff, rgb(245, 245, 208));
}

#button-add {
  background: rgb(221, 220, 220);
}

.input-group {
  margin: 0 !important;
}

.but:hover {
  background: #6c757a;
}

.gif, p {
  cursor: pointer;
}

.gif:hover {
  opacity: 0.5;
}
